{% extends 'app/base.html.twig' %}

{% block body %}
    <section class="section hero is-link">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">Hackaton BBall</h1>
                <h2 class="subtitle">Symfony 3.4, BulmaIO (et peut-être Vue.js ?)</h2>
            </div>
        </div>
    </section>
{% endblock %}
