<nav class="navbar is-light" role="navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/admin/">
            <img src="{{ asset('images/logoBBLL.png') }}" alt="Basketball World Cup 2018 logo" style="height : 128px">
        </a>

        <a class="navbar-burger" role="button" aria-label="menu" aria-expanded="false" data-target="navMenu">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navMenu" class="navbar-menu">
        <div class="navbar-end">
            <a class="navbar-item">Déconnexion</a>
        </div>
    </div>
</nav>
