{% extends 'app/base.html.twig' %}

{% block body %}
    <section class="section">
        <div class="container is-fluid">
            <div class="columns is-multiline">
                {% for player in players %}
                    <div class="column is-3 has-text-centered">
                        <div class="box">
                            <div><img src="{{ player.picture }}"/></div>
                            <div class="has-text-weight-bold">{{ player.lastname }}</div>
                            <div class="has-text-weight-bold">{{ player.firstname }}</div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
