{% extends 'app/base.html.twig' %}

{% block body %}
    <section class="hero is-link is-medium">
        <div class="hero-body">
            <div class="container has-text-centered">
                <h1 class="title">Fédération Internationale de Basketball</h1>
            </div>
        </div>
        <div class="hero-foot">
            <nav class="tabs is-boxed is-fullwidth">
                <div class="container">
                    <ul>
                        <li><a href="/games">Matches</a></li>
                        <li class="is-active"><a href="/teams">Pays</a></li>
                        <li><a href="/players">Joueurs</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </section>

    <section class="section">
        <div class="container is-fluid">
            <div class="columns is-multiline">
                {% for team in teams %}
                    <div class="column is-3 has-text-centered">
                        <div class="box">
                            <div><img alt="flag" src="{{ asset('images/icons/'~team.flag) }}"/></div>
                            <div class="has-text-weight-bold">{{ team.name }}</div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
